config.py
capstone_env
__pycache__/
scripts/__pycache__
data
output
bcftools
multi-sampleANNOVAR.csv
.nextflow.log
.nextflow.log.1
.nextflow/
nextflow.config
work/
pgsc_HGDP+1kGP_v1.tar.zst
scripts/replay_pid591324.log